 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Want to carve out some creative code time where you can work on your projects without anybody looking over your shoulder or wondering when you'll be finished with that feature? Or maybe there's a language or technology that you've really wanted to try but haven't found the time to do it! </p>
                </div>
                <div class="col-lg-4">
                    <p>Do yourself a favor and come out to Code & Coffee where you can sit down and code to your heart's content on whatever project you bring! Whatever the language and level, show up. MUST HAVE: An upbeat positive attitude and have zero tolerance for stereotypes.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
